html,
body {
  margin: 0px;
  background-color: rgb(240, 240, 240);
  color: rgb(71, 53, 25);
  text-align: center;
  font-size: 1.2em;
}


.container {
  display: flex;
  flex-direction: column;
  align-content: center; 
  align-items: center;
}


